@media all and (max-width: 768px) {
    .card {
        width: 49%;
        margin-bottom: 3rem;
    }
}
@media all and (max-width: 480px) {
    .card {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.contents {
    padding: 1rem;
}
.h3 {
    margin: 0 0 0.5rem;
    font-size: 1.125em;
    color: white;
}

.img {
    width: 100%;
    height: auto;
}
.card {
    width: 32%;
    max-width: 100%;
    margin: 0 0 4rem;
    box-shadow: 0 15px 10px -10px rgba(black, 0.25);
}
.wrap_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1 {
    margin: 0 0 4rem;
    text-align: center;
    font-size: 1.6em;
    color: darken(palette(2), 10%);
}
body {
    font-family: $main-font;
    font-size: 16px;
    padding: 3rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lighten(palette(2), 6%);
}
