/* *{
    background-color: rgba(180, 221, 221, 0.39);
}
.intro{
    background-color: yellow;
}

.class1 class2{
    border: 100px blueviolet;
}
#firstname{
    background-color: yellow;
} */
/* p.intro{

} */

/* p.intro{
    border: 20px red;

} */

/* h1, p {
    background-color: yellow;
  } */